.ant-table-tbody > tr > td{
    text-align:center;
}
.ant-table-thead > tr > th {
    text-align:center;
}
.news-search{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding:10px;
}

.news-search__btn{
    padding: 10px 20px;
    background-color: rgb(144, 144, 253);
    color: white;
    cursor: pointer;
}
.news-add__btn{
    padding: 10px 20px;
    background-color: rgb(144, 144, 253);
    color: white;
    cursor: pointer;
    padding:10px;
    margin:auto;

}
.ant-col-2 {
    margin:auto;
}
a{
    color:white;
}
.news-list__img img{
    width: 400px;
    height: 200px;
    object-fit: contain;
    
}