.login{
    height:100vh;
    white:100%;
    positon:relative;
    display: flex;
    justify-content: center;
}
.login img{
    width:100%;
    height:100%;
}
.login-container img{
    width:20%;
    margin:auto;
}
.login h2{
    margin:auto;
    padding:20px;
    font-family: 'Futurab';
    font-weight: normal;
    font-size: 3em;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
    text-align: left;
    font-weight: 800;
}
.login-container{
    display:flex;
    flex-direction:column;
    width:50%;
    text-align:center;
    background-color: rgba(27, 46, 100, 0.7);
    box-shadow: 0px 0px 29.4px 0.6px #000;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    padding:16px;

}
.ant-form-item-label > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: white !important;
    font-size: 14px;
}

.ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    margin-bottom: 24px;
    vertical-align: top;
    transition: margin-bottom 0.3s 0.017s linear;
    width: 80%;
}
.login-btn{
    width:100%;
    margin-right:100px;
    
}